<ion-header> </ion-header>
<ion-content [fullscreen]="true">
  <ion-grid style="height: 100%">
    <ion-row style="height: 100%">
      <ion-col size="12">
        <div #gmap id="gmap" style="height: 100%"></div>
        <div
          style="
            position: absolute;
            bottom: 10px;
            left: 10px;
            background-color: white;
            padding: 10px;
          "
        >
          <p>
            Distância: <span id="distance" style="font-weight: bold"></span>
          </p>
          <p>Duração: <span id="duration" style="font-weight: bold"></span></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
